USE [master]
GO
/****** Object:  Database [PerfumeWarehouse]    Script Date: 24.04.2026 17:43:19 ******/
CREATE DATABASE [PerfumeWarehouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PerfumeWarehouse', FILENAME = N'C:\Users\COMP\PerfumeWarehouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PerfumeWarehouse_log', FILENAME = N'C:\Users\COMP\PerfumeWarehouse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PerfumeWarehouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PerfumeWarehouse]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[LoyaltyPoints] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[MiddleName] [nvarchar](30) NULL,
	[PassportNumber] [nvarchar](15) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](128) NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NoteID] [int] IDENTITY(1,1) NOT NULL,
	[NoteName] [nvarchar](100) NOT NULL,
	[NoteType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[VariantID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[StatusID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[FinalAmount]  AS ([TotalAmount]-[DiscountAmount]) PERSISTED,
	[EmployeeID] [int] NULL,
	[Comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageFileName] [nvarchar](200) NOT NULL,
	[IsMain] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductNotes]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductNotes](
	[ProductID] [int] NOT NULL,
	[NoteID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_Backup]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_Backup](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[AlcoholPercent] [decimal](5, 2) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[VolumeML] [int] NOT NULL,
	[AlcoholPercent] [decimal](5, 2) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[SKU]  AS (concat('MNC-',[ProductID],'-',[VolumeML])) PERSISTED NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SamplerBoxes]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SamplerBoxes](
	[BoxID] [int] IDENTITY(1,1) NOT NULL,
	[BoxName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ImageFileName] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BoxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SamplerBoxItems]    Script Date: 24.04.2026 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SamplerBoxItems](
	[BoxItemID] [int] IDENTITY(1,1) NOT NULL,
	[BoxID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[VolumeML] [decimal](5, 1) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BoxItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [BrandName]) VALUES (1, N'Mancera')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [BirthDate], [LoyaltyPoints], [CreatedAt]) VALUES (1, N'Иванов', N'Алексей', N'Петрович', N'+79031234567', N'ivanov@mail.ru', CAST(N'1985-04-12' AS Date), 120, CAST(N'2026-04-19T20:53:47.050' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [BirthDate], [LoyaltyPoints], [CreatedAt]) VALUES (2, N'Смирнова', N'Елена', N'Игоревна', N'+79161239876', N'smirnova.e@yandex.ru', CAST(N'1990-08-23' AS Date), 45, CAST(N'2026-04-19T20:53:47.050' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [BirthDate], [LoyaltyPoints], [CreatedAt]) VALUES (3, N'Козлов', N'Дмитрий', N'Петрович', N'+79265550102', N'd.kozlov@gmail.com', CAST(N'1978-11-02' AS Date), 300, CAST(N'2026-04-19T20:53:47.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [LoginID], [LastName], [FirstName], [MiddleName], [PassportNumber], [Phone], [Email], [PasswordHash], [RoleID], [CreatedAt]) VALUES (1, N'admin', N'Иванов', N'Иван', N'Иванович', N'1234567890', N'+79001234567', N'ivanov@perfume.ru', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', 1, CAST(N'2026-04-17T21:43:23.400' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [LoginID], [LastName], [FirstName], [MiddleName], [PassportNumber], [Phone], [Email], [PasswordHash], [RoleID], [CreatedAt]) VALUES (2, N'store1', N'Петров', N'Пётр', N'Сергеевич', N'0987654321', N'+79031234568', N'petrov@perfume.ru', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', 2, CAST(N'2026-04-19T20:56:31.847' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [LoginID], [LastName], [FirstName], [MiddleName], [PassportNumber], [Phone], [Email], [PasswordHash], [RoleID], [CreatedAt]) VALUES (3, N'store2', N'Сидорова', N'Анна', N'Владимировна', N'1122334455', N'+79031234569', N'sidorova@perfume.ru', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', 2, CAST(N'2026-04-19T20:56:31.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([NoteID], [NoteName], [NoteType]) VALUES (1, N'Лимон', N'верхние')
INSERT [dbo].[Notes] ([NoteID], [NoteName], [NoteType]) VALUES (2, N'Бергамот', N'верхние')
INSERT [dbo].[Notes] ([NoteID], [NoteName], [NoteType]) VALUES (3, N'Мандарин', N'верхние')
SET IDENTITY_INSERT [dbo].[Notes] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [VariantID], [Quantity], [UnitPrice]) VALUES (10, 10, 2, 1, CAST(9700.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [VariantID], [Quantity], [UnitPrice]) VALUES (11, 10, 73, 2, CAST(6650.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [VariantID], [Quantity], [UnitPrice]) VALUES (12, 10, 6, 1, CAST(10800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [StatusID], [TotalAmount], [DiscountAmount], [EmployeeID], [Comment]) VALUES (10, 1, CAST(N'2026-04-19T20:59:20.823' AS DateTime), 1, CAST(33800.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, N'Только что оформлен, ожидает оплаты')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [StatusID], [TotalAmount], [DiscountAmount], [EmployeeID], [Comment]) VALUES (11, 2, CAST(N'2026-04-18T20:59:20.823' AS DateTime), 2, CAST(30100.00 AS Decimal(10, 2)), CAST(150.00 AS Decimal(10, 2)), 1, N'Оплачен картой онлайн, скидка по акции')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [StatusID], [TotalAmount], [DiscountAmount], [EmployeeID], [Comment]) VALUES (12, 3, CAST(N'2026-04-17T20:59:20.823' AS DateTime), 3, CAST(10300.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 2, N'Товар собран, ожидает отправки')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName]) VALUES (5, N'Доставлен')
INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName]) VALUES (1, N'Новый')
INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName]) VALUES (2, N'Оплачен')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageFileName], [IsMain]) VALUES (1, 1, N'amber_&_roses_1.png', 1)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageFileName], [IsMain]) VALUES (2, 2, N'amber_fever_1.png', 1)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageFileName], [IsMain]) VALUES (3, 3, N'amberful_1.png', 1)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
INSERT [dbo].[ProductNotes] ([ProductID], [NoteID]) VALUES (1, 1)
INSERT [dbo].[ProductNotes] ([ProductID], [NoteID]) VALUES (8, 1)
INSERT [dbo].[ProductNotes] ([ProductID], [NoteID]) VALUES (13, 1)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [BrandID], [Description], [CreatedAt]) VALUES (1, N'Amber & Roses', 1, N'Восточно-цветочный аромат с нотами лимона, розы, жасмина и янтаря.', CAST(N'2026-04-17T21:43:23.417' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [ProductName], [BrandID], [Description], [CreatedAt]) VALUES (2, N'Amber Fever', 1, N'Пряно-гурманский с карамелью, виски, тона-бобами и розами.', CAST(N'2026-04-17T21:43:23.417' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [ProductName], [BrandID], [Description], [CreatedAt]) VALUES (3, N'Amberful', 1, N'Древесно-янтарный с юдзу, бергамотом, фиалкой и пачули.', CAST(N'2026-04-17T21:43:23.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_Backup] ON 

INSERT [dbo].[Products_Backup] ([ProductID], [ProductName], [AlcoholPercent], [Price], [StockQuantity]) VALUES (1, N'Amber & Roses', CAST(80.00 AS Decimal(5, 2)), CAST(9500.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Products_Backup] ([ProductID], [ProductName], [AlcoholPercent], [Price], [StockQuantity]) VALUES (2, N'Amber Fever', CAST(82.00 AS Decimal(5, 2)), CAST(9700.00 AS Decimal(10, 2)), 8)
INSERT [dbo].[Products_Backup] ([ProductID], [ProductName], [AlcoholPercent], [Price], [StockQuantity]) VALUES (3, N'Amberful', CAST(78.00 AS Decimal(5, 2)), CAST(8900.00 AS Decimal(10, 2)), 12)
SET IDENTITY_INSERT [dbo].[Products_Backup] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([VariantID], [ProductID], [VolumeML], [AlcoholPercent], [Price], [StockQuantity], [CreatedAt]) VALUES (1, 1, 120, CAST(80.00 AS Decimal(5, 2)), CAST(9500.00 AS Decimal(10, 2)), 0, CAST(N'2026-04-17T22:50:05.297' AS DateTime))
INSERT [dbo].[ProductVariants] ([VariantID], [ProductID], [VolumeML], [AlcoholPercent], [Price], [StockQuantity], [CreatedAt]) VALUES (2, 2, 120, CAST(82.00 AS Decimal(5, 2)), CAST(9700.00 AS Decimal(10, 2)), 6, CAST(N'2026-04-17T22:50:05.297' AS DateTime))
INSERT [dbo].[ProductVariants] ([VariantID], [ProductID], [VolumeML], [AlcoholPercent], [Price], [StockQuantity], [CreatedAt]) VALUES (3, 3, 120, CAST(78.00 AS Decimal(5, 2)), CAST(8900.00 AS Decimal(10, 2)), 12, CAST(N'2026-04-17T22:50:05.297' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'storekeeper')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SamplerBoxes] ON 

INSERT [dbo].[SamplerBoxes] ([BoxID], [BoxName], [Description], [Price], [StockQuantity], [ImageFileName], [IsActive], [CreatedAt]) VALUES (4, N'Мужской сет Mancera', N'Пробники 2 мл: Cedrat Boise, Red Tobacco, Aoud Lemon Mint, Hindu Kush, Black Gold', CAST(1290.00 AS Decimal(10, 2)), 7, N'mancera_men_box.png', 1, CAST(N'2026-04-19T20:59:20.863' AS DateTime))
INSERT [dbo].[SamplerBoxes] ([BoxID], [BoxName], [Description], [Price], [StockQuantity], [ImageFileName], [IsActive], [CreatedAt]) VALUES (5, N'Женский сет Mancera', N'Пробники 2 мл: Roses Vanille, Velvet Vanilla, Jardin Exclusif, Instant Crush, Feminity', CAST(1390.00 AS Decimal(10, 2)), 5, N'mancera_women_box.png', 1, CAST(N'2026-04-19T20:59:20.863' AS DateTime))
INSERT [dbo].[SamplerBoxes] ([BoxID], [BoxName], [Description], [Price], [StockQuantity], [ImageFileName], [IsActive], [CreatedAt]) VALUES (6, N'Премиум-пробники Mancera', N'Ассорти из 8 ароматов по 2 мл', CAST(2490.00 AS Decimal(10, 2)), 2, N'mancera_premium_samples.png', 1, CAST(N'2026-04-19T20:59:20.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[SamplerBoxes] OFF
GO
SET IDENTITY_INSERT [dbo].[SamplerBoxItems] ON 

INSERT [dbo].[SamplerBoxItems] ([BoxItemID], [BoxID], [ProductID], [VolumeML], [Quantity]) VALUES (37, 4, 8, CAST(2.0 AS Decimal(5, 1)), 1)
INSERT [dbo].[SamplerBoxItems] ([BoxItemID], [BoxID], [ProductID], [VolumeML], [Quantity]) VALUES (38, 4, 13, CAST(2.0 AS Decimal(5, 1)), 1)
INSERT [dbo].[SamplerBoxItems] ([BoxItemID], [BoxID], [ProductID], [VolumeML], [Quantity]) VALUES (39, 4, 19, CAST(2.0 AS Decimal(5, 1)), 1)
SET IDENTITY_INSERT [dbo].[SamplerBoxItems] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Brands__2206CE9BEE5E72FA]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[Brands] ADD UNIQUE NONCLUSTERED 
(
	[BrandName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__45809E71F1D11692]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[PassportNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__4DDA2839C973F39B]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534D5E205EE]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Notes__B97411DE686715A6]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[Notes] ADD UNIQUE NONCLUSTERED 
(
	[NoteName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__OrderSta__05E7698A9F727FD8]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[OrderStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductNotes_NoteID]    Script Date: 24.04.2026 17:43:19 ******/
CREATE NONCLUSTERED INDEX [IX_ProductNotes_NoteID] ON [dbo].[ProductNotes]
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductV__2CC809DECA66642D]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[ProductVariants] ADD UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[VolumeML] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61609CD27263]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SamplerB__EF47A558A0DD2F2E]    Script Date: 24.04.2026 17:43:19 ******/
ALTER TABLE [dbo].[SamplerBoxes] ADD UNIQUE NONCLUSTERED 
(
	[BoxName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((2)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SamplerBoxes] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[SamplerBoxes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SamplerBoxes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SamplerBoxItems] ADD  DEFAULT ((2.0)) FOR [VolumeML]
GO
ALTER TABLE [dbo].[SamplerBoxItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([VariantID])
REFERENCES [dbo].[ProductVariants] ([VariantID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[OrderStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductNotes]  WITH CHECK ADD FOREIGN KEY([NoteID])
REFERENCES [dbo].[Notes] ([NoteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductNotes]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SamplerBoxItems]  WITH CHECK ADD FOREIGN KEY([BoxID])
REFERENCES [dbo].[SamplerBoxes] ([BoxID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SamplerBoxItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [CK_ProductVariants_VolumeML] CHECK  (([VolumeML]=(2) OR [VolumeML]=(120) OR [VolumeML]=(60)))
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [CK_ProductVariants_VolumeML]
GO
USE [master]
GO
